[Desktop Entry]
Type=Application
Version=1.0
Name=Kompas
GenericName=Navigation software
Comment=Online and offline map viewer
Exec=kompas-qt
Icon=kompas
Categories=Education;Geography;Astronomy;Graphics;Viewer;Network;WebBrowser;Qt;
Terminal=false

GenericName[cs]=Navigační software
Comment[cs]=Prohlížeč online a offline map
